*.iml
.gradle
/local.properties
workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/workspace.xml
.idea/vcs.xml
app/libs/
app/src/main/res/drawable/
.idea/workspace.xml
.idea/workspace.xml
